.flaticon-chart-gantt:before { content: "\f100"; }
.flaticon-maths:before { content: "\f101"; }
.flaticon-plus:before { content: "\f102"; }
.flaticon-calendar-dark:before { content: "\f103"; }
.flaticon-calendar:before { content: "\f104"; }
.flaticon-auction:before { content: "\f105"; }
.flaticon-gearshift:before { content: "\f106"; }
.flaticon-swap:before { content: "\f107"; }
.flaticon-skyline:before { content: "\f108"; }
.flaticon-shopping-cart:before { content: "\f109"; }
.flaticon-lock:before { content: "\f10a"; }
.flaticon-unlock:before { content: "\f10b"; }
.flaticon-home:before { content: "\f10c"; }
.flaticon-suitcase:before { content: "\f10d"; }
.flaticon-snapchat:before { content: "\f10e"; }
.flaticon-desktop:before { content: "\f10f"; }
.flaticon-gearbox:before { content: "\f110"; }
.flaticon-building:before { content: "\f111"; }
.flaticon-video:before { content: "\f112"; }
.flaticon-more-v:before { content: "\f113"; }
.flaticon-more-h:before { content: "\f114"; }
.flaticon-printer:before { content: "\f115"; }
.flaticon-star-dark:before { content: "\f116"; }
.flaticon-user-circle:before { content: "\f117"; }
.flaticon-users-genders:before { content: "\f118"; }
.flaticon-users:before { content: "\f119"; }
.flaticon-location:before { content: "\f11a"; }
.flaticon-signin:before { content: "\f11b"; }
.flaticon-search:before { content: "\f11c"; }
.flaticon-broken-link:before { content: "\f11d"; }
.flaticon-trash:before { content: "\f11e"; }
.flaticon-folder:before { content: "\f11f"; }
.flaticon-time:before { content: "\f120"; }
.flaticon-notification:before { content: "\f121"; }
.flaticon-settings:before { content: "\f122"; }
.flaticon-slides-h:before { content: "\f123"; }
.flaticon-slides-v:before { content: "\f124"; }
.flaticon-files:before { content: "\f125"; }
.flaticon-layers:before { content: "\f126"; }
.flaticon-star:before { content: "\f127"; }
.flaticon-heart:before { content: "\f128"; }
.flaticon-database:before { content: "\f129"; }
.flaticon-connection:before { content: "\f12a"; }
.flaticon-check-square:before { content: "\f12b"; }
.flaticon-share:before { content: "\f12c"; }
.flaticon-multiply:before { content: "\f12d"; }
.flaticon-power:before { content: "\f12e"; }
.flaticon-check-circle:before { content: "\f12f"; }
.flaticon-random:before { content: "\f130"; }
.flaticon-save:before { content: "\f131"; }
.flaticon-songs:before { content: "\f132"; }
.flaticon-view:before { content: "\f133"; }
.flaticon-whatsapp:before { content: "\f134"; }
.flaticon-graphic:before { content: "\f135"; }
.flaticon-mail:before { content: "\f136"; }
.flaticon-pie-chart:before { content: "\f137"; }
.flaticon-logout:before { content: "\f138"; }
.flaticon-info:before { content: "\f139"; }
.flaticon-sort-arrows:before { content: "\f13a"; }
.flaticon-chat:before { content: "\f13b"; }
.flaticon-up:before { content: "\f13c"; }
.flaticon-refresh:before { content: "\f13d"; }
.flaticon-bag:before { content: "\f13e"; }
.flaticon-left:before { content: "\f13f"; }
.flaticon-right:before { content: "\f140"; }
.flaticon-user:before { content: "\f141"; }
.flaticon-coins:before { content: "\f142"; }
.flaticon-heart-dark:before { content: "\f143"; }
.flaticon-check:before { content: "\f144"; }
.flaticon-user-material:before { content: "\f145"; }
.flaticon-down:before { content: "\f146"; }
.flaticon-wallet:before { content: "\f147"; }
.flaticon-clip:before { content: "\f148"; }
.flaticon-download:before { content: "\f149"; }
.flaticon-page:before { content: "\f14a"; }
.flaticon-upload:before { content: "\f14b"; }
.flaticon-message:before { content: "\f14c"; }
.flaticon-funds:before { content: "\f14d"; }
.flaticon-bullhorn:before { content: "\f14e"; }
.flaticon-send:before { content: "\f14f"; }
.flaticon-cart:before { content: "\f150"; }
.flaticon-twitter:before { content: "\f151"; }
.flaticon-facebook:before { content: "\f152"; }
.flaticon-instagram:before { content: "\f153"; }
.flaticon-bin:before { content: "\f154"; }
.flaticon-typing:before { content: "\f155"; }
.flaticon-pencil:before { content: "\f156"; }
.flaticon-menu-mobile:before { content: "\f157"; }
.flaticon-phone-ringing:before { content: "\f158"; }
.flaticon-menu:before { content: "\f159"; }
.flaticon-question:before { content: "\f15a"; }
.flaticon-speedo:before { content: "\f15b"; }
.flaticon-youtube:before { content: "\f15c"; }
.flaticon-posts:before { content: "\f15d"; }
.flaticon-logo:before { content: "\f15e"; }
.flaticon-mail-dark:before { content: "\f15f"; }
.flaticon-store:before { content: "\f160"; }
.flaticon-sort:before { content: "\f161"; }
.flaticon-pinterest:before { content: "\f162"; }
.flaticon-cross:before { content: "\f163"; }
.flaticon-mobile:before { content: "\f164"; }
.flaticon-telephone:before { content: "\f165"; }
.flaticon-redo:before { content: "\f166"; }
.flaticon-phone:before { content: "\f167"; }
.flaticon-tools:before { content: "\f168"; }
.flaticon-linkedin:before { content: "\f169"; }
.flaticon-photo:before { content: "\f16a"; }
.flaticon-undo:before { content: "\f16b"; }
.flaticon-speedometer:before { content: "\f16c"; }
.flaticon-login:before { content: "\f16d"; }

$font-Flaticon-chart-gantt: "\f100";
$font-Flaticon-maths: "\f101";
$font-Flaticon-plus: "\f102";
$font-Flaticon-calendar-dark: "\f103";
$font-Flaticon-calendar: "\f104";
$font-Flaticon-auction: "\f105";
$font-Flaticon-gearshift: "\f106";
$font-Flaticon-swap: "\f107";
$font-Flaticon-skyline: "\f108";
$font-Flaticon-shopping-cart: "\f109";
$font-Flaticon-lock: "\f10a";
$font-Flaticon-unlock: "\f10b";
$font-Flaticon-home: "\f10c";
$font-Flaticon-suitcase: "\f10d";
$font-Flaticon-snapchat: "\f10e";
$font-Flaticon-desktop: "\f10f";
$font-Flaticon-gearbox: "\f110";
$font-Flaticon-building: "\f111";
$font-Flaticon-video: "\f112";
$font-Flaticon-more-v: "\f113";
$font-Flaticon-more-h: "\f114";
$font-Flaticon-printer: "\f115";
$font-Flaticon-star-dark: "\f116";
$font-Flaticon-user-circle: "\f117";
$font-Flaticon-users-genders: "\f118";
$font-Flaticon-users: "\f119";
$font-Flaticon-location: "\f11a";
$font-Flaticon-signin: "\f11b";
$font-Flaticon-search: "\f11c";
$font-Flaticon-broken-link: "\f11d";
$font-Flaticon-trash: "\f11e";
$font-Flaticon-folder: "\f11f";
$font-Flaticon-time: "\f120";
$font-Flaticon-notification: "\f121";
$font-Flaticon-settings: "\f122";
$font-Flaticon-slides-h: "\f123";
$font-Flaticon-slides-v: "\f124";
$font-Flaticon-files: "\f125";
$font-Flaticon-layers: "\f126";
$font-Flaticon-star: "\f127";
$font-Flaticon-heart: "\f128";
$font-Flaticon-database: "\f129";
$font-Flaticon-connection: "\f12a";
$font-Flaticon-check-square: "\f12b";
$font-Flaticon-share: "\f12c";
$font-Flaticon-multiply: "\f12d";
$font-Flaticon-power: "\f12e";
$font-Flaticon-check-circle: "\f12f";
$font-Flaticon-random: "\f130";
$font-Flaticon-save: "\f131";
$font-Flaticon-songs: "\f132";
$font-Flaticon-view: "\f133";
$font-Flaticon-whatsapp: "\f134";
$font-Flaticon-graphic: "\f135";
$font-Flaticon-mail: "\f136";
$font-Flaticon-pie-chart: "\f137";
$font-Flaticon-logout: "\f138";
$font-Flaticon-info: "\f139";
$font-Flaticon-sort-arrows: "\f13a";
$font-Flaticon-chat: "\f13b";
$font-Flaticon-up: "\f13c";
$font-Flaticon-refresh: "\f13d";
$font-Flaticon-bag: "\f13e";
$font-Flaticon-left: "\f13f";
$font-Flaticon-right: "\f140";
$font-Flaticon-user: "\f141";
$font-Flaticon-coins: "\f142";
$font-Flaticon-heart-dark: "\f143";
$font-Flaticon-check: "\f144";
$font-Flaticon-user-material: "\f145";
$font-Flaticon-down: "\f146";
$font-Flaticon-wallet: "\f147";
$font-Flaticon-clip: "\f148";
$font-Flaticon-download: "\f149";
$font-Flaticon-page: "\f14a";
$font-Flaticon-upload: "\f14b";
$font-Flaticon-message: "\f14c";
$font-Flaticon-funds: "\f14d";
$font-Flaticon-bullhorn: "\f14e";
$font-Flaticon-send: "\f14f";
$font-Flaticon-cart: "\f150";
$font-Flaticon-twitter: "\f151";
$font-Flaticon-facebook: "\f152";
$font-Flaticon-instagram: "\f153";
$font-Flaticon-bin: "\f154";
$font-Flaticon-typing: "\f155";
$font-Flaticon-pencil: "\f156";
$font-Flaticon-menu-mobile: "\f157";
$font-Flaticon-phone-ringing: "\f158";
$font-Flaticon-menu: "\f159";
$font-Flaticon-question: "\f15a";
$font-Flaticon-speedo: "\f15b";
$font-Flaticon-youtube: "\f15c";
$font-Flaticon-posts: "\f15d";
$font-Flaticon-logo: "\f15e";
$font-Flaticon-mail-dark: "\f15f";
$font-Flaticon-store: "\f160";
$font-Flaticon-sort: "\f161";
$font-Flaticon-pinterest: "\f162";
$font-Flaticon-cross: "\f163";
$font-Flaticon-mobile: "\f164";
$font-Flaticon-telephone: "\f165";
$font-Flaticon-redo: "\f166";
$font-Flaticon-phone: "\f167";
$font-Flaticon-tools: "\f168";
$font-Flaticon-linkedin: "\f169";
$font-Flaticon-photo: "\f16a";
$font-Flaticon-undo: "\f16b";
$font-Flaticon-speedometer: "\f16c";
$font-Flaticon-login: "\f16d";
