*{
    padding: 0;
    margin: 0;
}
a:hover,
a:focus {
    text-decoration: none;
    color: $color-purple-dark;
    outline: none;
}
html {
    height:100%;
}
body{
    background: $body-bg;
    font-family: 'Source Sans Pro', 'Open Sans', sans-serif;
    font-weight: 500;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    font-size: 16px;
}
h1,h2,h3,h4 {
    font-family:'Slabo 27px', 'Open Sans', Raleway, sans-serif;
    font-weight: 600;
}
h4 {
    font-size:25px;
    span {
        font-size:16px;
    }
}

.wrapper {
    min-height: 100%;
}
#push {
    height: $footer-height;
}
.full-width {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
}

.pointer {cursor: pointer;}
.round {border-radius: 500px;}
.bg-blue {background-color: $color-blue-presumi}
.bg-blue-dark {background-color: $color-blue-paypal}
.bg-green {background-color: $color-green}
.bg-red {background-color: $color-red}
.bg-purple {background-color: $color-purple}
.bg-dark {background-color: $color-dark}
.bg-white {background-color: $color-white}
.bg-light {background-color: #f3f3f3}
.bg-teal {background-color: $color-teal}
.blue {color: $color-blue-paypal}
.greener {color: $color-greener}
.teal {color: $color-teal}
.red {color: $color-red}
.bg-image-00 {background-image: url('../img/smiling-blue.jpg')}
.bg-image-01 {background-image: url('../img/01.jpg')}
.btn-bordered {border: 2px solid white}

.bold{font-weight: bold}
.capitalize{text-transform: capitalize;}
.uppercase{text-transform: uppercase}
.small-caps{font-variant: small-caps}
.lowercase{text-transform: lowercase}
.underline{text-decoration: underline}
.line-through{text-decoration: line-through}
.italic{text-transform: italic}

.inactive {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #e6e7e8;
    margin-top:10px;
    border:1px solid #ccc;
}
.button {
    font-size: 13px;
    text-transform: capitalize;
}

.block {
    margin-bottom: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px rgba(0, 0, 0, 0.01);
    box-shadow: 0 2px rgba(0, 0, 0, 0.01);
}

.section-title {
    text-align: center;
    font-size: 35px;
    color: inherit;
    font-family: 'Maven Pro', 'Source Sans Pro', Avenir, sans-serif;
    font-weight: 400;
}

.trapeze-bg {
    position: absolute;
    top: 0px;
    left: -15%;
    width: 65%;
    height: 100%;
    background-size: cover;
    @include skewX(15deg);

    &.trapeze-green {
        background-color: $color-greener;
    }
    &.trapeze-blue {
        background-color: $color-blue-presumi;
    }
    &.trapeze-paypal {
        background-color: $color-blue-paypal;
    }
    &.trapeze-dark {
        background-color: $color-dark;
    }
    &.trapeze-white {
        background-color: white;
    }
}
