
$default-color: #fff;

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav > li {
    position: relative;
    display: block;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}
.nav > li.disabled > a {
    color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
    color: #777;
    text-decoration: none;
    cursor: not-allowed;
    background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #eee;
    border-color: #337ab7;
}
.nav .nav-divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.nav > li > a > img {
    max-width: none;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.nav-tabs > li {
    float: left;
    margin-bottom: -1px;
}
.nav-tabs > li > a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #08c;
}
.nav-tabs > li > a:hover {
    border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: #08c;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav-tabs.nav-justified {
    width: 100%;
    border-bottom: 0;
}
.nav-tabs.nav-justified > li {
    float: none;
}
.nav-tabs.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
}
.nav-tabs.nav-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}
.nav-pills > li {
    float: left;
}
.nav-pills > li > a {
    border-radius: 4px;
}
.nav-pills > li + li {
    margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #337ab7;
}
.nav-stacked > li {
    float: none;
}
.nav-stacked > li + li {
    margin-top: 2px;
    margin-left: 0;
}
.nav-justified {
    width: 100%;
}
.nav-justified > li {
    float: none;
}
.nav-justified > li > a {
    margin-bottom: 5px;
    text-align: center;
}
.nav-justified > .dropdown .dropdown-menu {
    top: auto;
    left: auto;
}
@media (min-width: 768px) {
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }
}
.nav-tabs-justified {
    border-bottom: 0;
}
.nav-tabs-justified > li > a {
    margin-right: 0;
    border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
    border: 1px solid #ddd;
}
@media (min-width: 768px) {
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #ddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #fff;
    }
}
.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}
.nav-tabs .dropdown-menu {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}



.block-content {
    margin: 0 auto;
    padding: 20px 20px 1px;
    max-width: 100%;
    overflow-x: visible;
    -webkit-transition: opacity 0.2s ease-out;
    transition: opacity 0.2s ease-out;
}
.block > .nav-tabs {
    background-color: $default-color;
    border-bottom: none;
    font-size: 16px;
    border-bottom: 1px solid $body-bg;
}
.block > .nav-tabs.nav-tabs-right > li {
    float: right;
}
.block > .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
}
.block > .nav-tabs > li {
    margin-bottom: 0;
}
.block > .nav-tabs > li > a {
    margin-right: 0;
    padding: 12px 20px;
    color: #646464;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 0;

    i {
        margin-right: 5px;
    }
}
.block > .nav-tabs > li > a:hover {
    color: $color-dark;
    background-color: transparent;
    border-color: transparent;
}
.block > .nav-tabs > li.active > a,
.block > .nav-tabs > li.active > a:hover,
.block > .nav-tabs > li.active > a:focus {
    // color: #646464;
    color: $color-blue-paypal;
    background-color: #fff;
    border-color: transparent;
    border-bottom: 3px solid $color-blue-paypal;
    border-radius: none;
    font-weight: 600;
}
.block > .nav-tabs.nav-tabs-alt {
    background-color: transparent;
    border-bottom: 1px solid #e9e9e9;
}
.block > .nav-tabs.nav-tabs-alt > li > a {
    -webkit-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
.block > .nav-tabs.nav-tabs-alt > li > a:hover {
    -webkit-box-shadow: 0 2px #5c90d2;
    box-shadow: 0 2px #5c90d2;
}
.block > .nav-tabs.nav-tabs-alt > li.active > a,
.block > .nav-tabs.nav-tabs-alt > li.active > a:hover,
.block > .nav-tabs.nav-tabs-alt > li.active > a:focus {
    -webkit-box-shadow: 0 2px #5c90d2;
    box-shadow: 0 2px #5c90d2;
}
.block .block-content.tab-content {
    overflow: hidden;
}
.block-options {
    float: right;
    margin: -3px 0 -3px 15px;
    padding: 0;
    height: 24px;
    list-style: none;
}
.block-options:before,
.block-options:after {
    content: " ";
    display: table;
}
.block-options:after {
    clear: both;
}
.block-options.block-options-left {
    float: left;
    margin-right: 15px;
    margin-left: 0;
}
.block-options.block-options-left + .block-title {
    float: right;
}
.block-options > li {
    display: inline-block;
    margin: 0 2px;
    padding: 0;
}
.block-options > li > a,
.block-options > li > button {
    display: block;
    padding: 2px 3px;
    color: #999999;
    opacity: .6;
}
.block.block-themed > .block-header .block-options > li > a,
.block.block-themed > .block-header .block-options > li > button {
    color: #fff;
}
.block-options > li > a:hover,
.block-options > li > button:hover {
    text-decoration: none;
    opacity: 1;
}
.block-options > li > a:active,
.block-options > li > button:active {
    opacity: .6;
}
.block-options > li > span {
    display: block;
    padding: 2px 3px;
}
.block.block-themed > .block-header .block-options > li > span {
    color: #fff;
}
.block-options > li > a:focus {
    text-decoration: none;
    opacity: 1;
}
.block-options > li > button {
    background: none;
    border: none;
}
.block-options > li.active > a,
.block-options > li.open > button {
    text-decoration: none;
    opacity: 1;
}
.nav-main {
    margin: 0 -20px;
    padding: 0;
    list-style: none;
}
.nav-main .nav-main-heading {
    padding: 22px 35px 6px 20px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
}
.nav-main a {
    display: block;
    padding: 10px 35px 10px 20px;
    color: #a1a1a1;
}
.nav-main a:hover,
.nav-main a:focus {
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.2);
}
.nav-main a:hover > i,
.nav-main a:focus > i {
    color: #fff;
}
.nav-main a.active,
.nav-main a.active:hover {
    color: #fff;
}
.nav-main a.active > i,
.nav-main a.active:hover > i {
    color: #fff;
}
.nav-main a > i {
    margin-right: 15px;
    color: #a1a1a1;
}
.nav-main a.nav-submenu {
    position: relative;
    padding-right: 30px;
}
.nav-main a.nav-submenu:before {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    display: inline-block;
    font-family: 'FontAwesome';
    color: rgba(255, 255, 255, 0.25);
    content: "\f104";
}
.nav-main a.nav-submenu:before.nav-main a.nav-submenu:before-fwidth {
    width: 100%;
}
.nav-main ul {
    margin: 0;
    padding: 0 0 0 50px;
    height: 0;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
.nav-main ul > li {
    opacity: 0;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -webkit-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    transform: translateX(-15px);
}
.nav-main ul .nav-main-heading {
    padding-left: 0;
    padding-right: 0;
    color: rgba(255, 255, 255, 0.65);
}
.nav-main ul a {
    padding: 8px 0;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.4);
}
.nav-main ul a:hover,
.nav-main ul a:focus {
    color: #fff;
    background-color: transparent;
}
.nav-main ul a > i {
    margin-right: 10px;
}
.nav-main ul ul {
    padding-left: 12px;
}
.nav-main li.open > a.nav-submenu {
    color: #fff;
}
.nav-main li.open > a.nav-submenu > i {
    color: #fff;
}
.nav-main li.open > a.nav-submenu:before {
    content: "\f107";
}
.nav-main li.open > ul {
    height: auto;
}
.nav-main li.open > ul > li {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}
.nav-header {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-header:before,
.nav-header:after {
    content: " ";
    display: table;
}
.nav-header:after {
    clear: both;
}
.nav-header > li {
    margin-right: 12px;
    float: left;
}
.nav-header > li > a,
.nav-header > li > .btn-group > a {
    padding: 0 12px;
    display: block;
    line-height: 34px;
    font-weight: 600;
}
.nav-header.pull-right > li {
    margin-right: 0;
    margin-left: 12px;
    float: left;
}
.nav-header .header-content {
    line-height: 34px;
}
.nav-header .header-search {
    width: 360px;
}
@media screen and (max-width: 767px) {
    .nav-header .header-search {
        display: none;
    }
    .nav-header .header-search.header-search-xs-visible {
        position: absolute;
        top: 60px;
        right: 0;
        left: 0;
        z-index: 999;
        display: block;
        width: 100%;
        border-top: 1px solid #f9f9f9;
    }
    .nav-header .header-search.header-search-xs-visible > form {
        padding: 14px 14px;
        background-color: #fff;
        -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.02);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.02);
    }
}
.nav-users {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-users > li:last-child > a {
    border-bottom: none;
}
.nav-users a {
    position: relative;
    padding: 12px 8px 8px 71px;
    display: block;
    min-height: 62px;
    font-weight: 600;
    border-bottom: 1px solid #f3f3f3;
}
.nav-users a > img {
    position: absolute;
    left: 12px;
    top: 10px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
.nav-users a > i {
    position: absolute;
    left: 40px;
    top: 40px;
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
}
.nav-users a:hover {
    background-color: #f9f9f9;
}
