
.table-custom {
    background-color: white;
    margin-top: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.055);
    font-family: 'Maven Pro', 'Source Sans Pro', Avenir, sans-serif;

    thead {
        > tr {
            border: 0;
            background-color: #f5f8fa;

            > th {
                color: $color-dark;
                text-transform: capitalize;
                font-size: 12px;
                font-weight: 500;
                border: 0;
                padding: 13px 10px;
            }
        }
    }

    tbody {
        > tr {
            cursor: pointer;

            > td {
                color: #444;
                font-size: 14px;
                padding: 15px 10px;
                @include ellipsis;
            }
        }
    }
}
