
// Fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700');
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab|Athiti);

// Variables
@import "utils/variables";
@import "bootstrap";
@import "utils/mixins";
@import "utils/flaticon";
@import "utils/helpers";
@import "utils/alert";
@import "utils/tabs";
@import "utils/form";
@import "utils/table";
@import "utils/datepicker";

@include paddingAll;
@include paddingTop;
@include paddingBottom;
@include paddingLeftRight;
@include marginAll;
@include marginTop;
@include marginBottom;
@include marginLeft;
@include marginRight;
@include fontSizes;
@include fontWeight;


/**
* Flaticon
*/
@font-face {
    font-family: "Flaticon";
    src: url("../../assets/fonts/Flaticon.eot");
    src: url("../../assets/fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("../../assets/fonts/Flaticon.woff") format("woff"),
    url("../../assets/fonts/Flaticon.ttf") format("truetype"),
    url("../../assets/fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}


[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: inherit;
    font-style: normal;
}
.fi:before{
    display: inline-block;
    font-family: "Flaticon";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    text-decoration: inherit;
    text-rendering: optimizeLegibility;
    text-transform: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

@import "modules/login";
@import "modules/nav";
@import "modules/sidebar";
@import "modules/taskmodal";
@import "modules/dashboard";
@import "modules/page";
@import "modules/teams";
@import "modules/account";
