
.account {
    padding-top: 60px;

    h4 {
        font-weight: 500;
        text-transform: capitalize;
        font-size: 22px;
        color: $color-purple-dark;
        font-family: 'Maven Pro', 'Source Sans Pro', Calibri;
    }


}
