.dashboard {
    margin-top:60px;

    .tiles {
        margin-top: 20px;

        .tile {
            text-align: center;
            padding: 12px 0;
            border-radius: 2px;
            margin-bottom: 10px;
            color: white;
            border-radius: 4px;
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.055);

            i {font-size: 60px;}

            .title {
                font-size:15px;
                text-transform: uppercase;
                width: 100%;
                margin-bottom: 10px;
                @include ellipsis;
            }


            h4 {
                font-size: 18px;
            }

            &.blue {
                background-color: #3080ff;
            }
            &.green {
                background-color: $color-greener;
            }
            &.dark {
                background-color: $color-dark;
                color: white;
            }
            &.red {
                background-color: $color-red;
                color: white;
            }
            &.purple {
                background-color: $color-purple-dark;
                color: white;
            }
        }
    }

    h4.title {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        color: $color-purple-dark;
    }
}
