.login-page {
    background-color: #ebf4f9;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;


    .login-container {
        width: 100%;
        max-width: 900px;
        height: 825px;
        background-image: url('../img/log.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        padding-top: 120px;

        .inner {
            background-color: rgba(255, 255, 255, 0.95);
            box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.055);
            border-radius: 8px;
            width: 400px;
            max-width: 98%;
            margin: 0 auto;
            padding: 20px 40px;
            padding-top: 40px;

            .logo {
                width: 100px;
                height: 100px;
                background-image: url('../img/logo-mini.png');
                background-repeat: no-repeat;
                margin: 0 auto;
            }

            .logo-name {
                text-align: center;
                font-weight: bold;
                font-size: 23px;
                color: $color-purple-dark;
                text-transform: uppercase;
                margin-top: 10px;
            }

            h4 {
                font-size: 18px;
                text-transform: uppercase;
                text-align: center;
            }

            .form-container {
                margin-top: 60px;

                .form-group {
                    margin: 0;
                    margin-bottom: 5px;
                }

                .form-control {
                    background-color: white;
                    border: 2px solid #dbe7f2;

                    &:focus {
                        border: 2px solid #acc0d3;
                    }
                }
            }

            .links {
                margin-top:20px;
                font-weight: bold;
                text-align: center;
                font-size: 14px;
            }

        }

    }


}
