.navbar-default {
    background-color: white;
    border-color: none;
    border-bottom: none;
    font-family: 'Maven Pro', 'Source Sans Pro', Avenir, sans-serif;
    // box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.055);
    z-index: 999;


    .navbar-nav {
        border-color: #f1f1f1;

        > li {
            > a {
                color: $color-purple-dark;
                font-size:14px;
                text-transform: capitalize;
                font-weight: 500;
                padding-top: 20px;
                padding-bottom: 20px;

                i {
                    font-size:16px;
                    margin-right: 5px;
                }
            }
        }
    }

    .navbar-toggle {
        padding: 0;
        border: none;
        border-radius: 0;
        margin: 0 10px;;
        font-size: 25px;

        &:hover,
        &:focus{
            background-color: transparent;
        }
    }
}
.navbar {
    min-height: $navbar-height;
    line-height: $navbar-height;
    max-height: 60px;
}



@media (min-width: 768px) {
    .navbar-default {
        .navbar-nav {
            padding-left: $user-width;

            >.open {
                > a {
                    &:focus,
                    &:hover {
                        background-color: $color-blue-paypal;
                        color: white;
                    }
                }
            }
        }
    }
}
