
.page {
    margin-top: 60px;

    a {color: $color-blue-presumi}

    .page-title {

        h4 {
            font-weight: 500;
            text-transform: capitalize;
            font-size: 22px;
            color: $color-purple-dark;
            font-family: 'Maven Pro', 'Source Sans Pro', Calibri;
        }

        h3 {
            color: $color-dark;
            font-family: 'Maven Pro', 'Source Sans Pro', Calibri;
            font-size: 22px;
            font-weight: 400;
        }
    }


    .block {

        &.block-dark {
            background-color: #468;
            color: white;
        }

        h3 {
            font-size: 15px;
            font-weight: 600;
            text-transform: uppercase;
        }

        h2 {
            color: $color-dark;
            font-family: 'Maven Pro', 'Source Sans Pro', Calibri;
            font-size: 19px;
            font-weight: 500;
            margin: 0;
            padding: 0;
        }

        .form-group {
            margin: 0;
            margin-bottom: 20px;

            label {
                font-family: 'Maven Pro', 'Source Sans Pro', Calibri;
                font-weight: 400;
                font-size: 16px;
                color: $color-teal;
            }
        }

        .form-control {
            border: 2px solid #dbe7f2;

            &:focus {
                border: 2px solid #acc0d3;
            }
        }

        .form-control-feedback {
            font-size: 22px;
            color: #acc0d3;
            margin-top:28px;
        }

        .has-feedback-left {
            .form-control {
                padding-right: $padding-base-horizontal;
                padding-left: $input-height-base;
            }
            .form-control.input-sm,
            &.form-group-sm .form-control{
                padding-left: $input-height-small;
            }
            .form-control.input-lg,
            &.form-group-lg .form-control {
                padding-left: $input-height-large;
            }
            .form-control-feedback {
                left: 0;
            }
        }
    }


    .tasks {
        padding-bottom: 40px;
        font-family: 'Maven Pro', 'Source Sans Pro', Calibri;
        *, *:before, *:after {box-sizing:  border-box !important;}

        .rows {
            -moz-column-width: 18em;
            -webkit-column-width: 18em;
            -moz-column-gap: 1em;
            -webkit-column-gap:1em;
        }

        .item {
            display: inline-block;
            padding:  .25rem;
            width:  100%;
        }



        .task {
            background-color: #f1f2fa;
            padding: 10px;
            border-radius: 2px;
            cursor: pointer;
            margin-bottom: 10px;
            color: $color-teal;
            font-weight: 500;
            border:1px solid #e3e4e5;
            position: relative;
            display: block;

            &.green {
                background-color: $color-greener;
                border: none;
                color: #f1f1f1;

                .task-title {color: white}
                .task-date {color: #f1f1f1}
            }

            &.red {
                background-color: $color-red;
                border: none;
                color: #f1f1f1;

                .task-title {color: white}
                .task-date {color: #f1f1f1}
            }

            .task-title {
                color: #333;
                font-size: 16px;
                margin-bottom: 5px;
                font-weight: 500;
            }

            .task-date {
                color: $color-teal;
                font-size: 12px;
                margin-bottom: 10px;
                font-weight: 600;
                font-family: Athiti, Calibri, sans-serif;

                i {margin-right: 5px;}
            }

            .task-cost {
                font-family: 'Josefin Slab', 'Maven Pro', Calibri, sans-serif;
                font-weight: bold;
            }

            .task-progress {
                text-align: center;
                margin-top:10px;


                .progress-bar {
                    background-color: $color-teal;
                    width: 100%;
                    height: 4px;
                    color: $color-teal;
                    position: relative;
                    border-radius: 4px;

                    .current {
                        background-color: $color-greener;
                        position: absolute;
                        height: 4px;
                        left: 0;
                        margin-left: 0px;
                        border-radius: 4px;
                    }
                }
            }

        }
    }


    .numbers {
        li {
            padding: 7px 10px;
            background-color: #f3f3f3;
            border-radius: 3px;
            margin-right: 5px;
            margin-bottom: 5px;
            font-weight: 500;

            i {
                cursor: pointer;
                font-size: 13px;
                margin-right: 5px;
            }

            &.blue {
                cursor: pointer;
                background-color: transparent;
                color: $color-blue-presumi;
                font-weight: bold;
            }
        }
    }



}
