// $sidebar-bg: #23374c;
$sidebar-bg: $color-blue-facebook;

.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    &.toggled {
        padding-left: $user-width;
    }
}

#sidebar-wrapper {
    z-index: 1001;
    position: fixed;
    left: $user-width;
    width: 0;
    height: 100%;
    margin-left: -$user-width;
    overflow-y: auto;
    background: $sidebar-bg;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled {
    #sidebar-wrapper {
        width: $user-width;
    }
    #page-content-wrapper {
        position: absolute;
        margin-right: -$user-width;
    }
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding-top: 10px;
}

/* Sidebar Styles */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: $user-width;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    padding-top:5px;
    padding-bottom: 20px;

    li {
        line-height: 25px;

        a {
            padding: 20px;
            display: block;
            text-decoration: none;
            color: #fff;
            font-size:14px;
            text-transform: uppercase;
            font-weight: 500;
            @include ellipsis;

            &:hover {
                text-decoration: none;
                color: #fff;
                background: $color-darker;
            }
            &:active, &:focus {
                text-decoration: none;
                background: $color-darker;

            }
            i {
                margin-right: 10px;
                font-size: 18px;
            }
        }
        &.brand {
            height: 60px;
            color: white;
            text-align: center;

            a {
                padding-left: 0px;
                font-size: 18px;
            }

            &:after {
                clear: both;
            }
        }
        &.separer {
            height: 1px;
            background-color: $color-darkest;
        }
    }
    li.active {
        background: $color-darker;
        border-left: 4px solid $body-bg;

        a {
            color: #fff;
        }
    }
}

@media (min-width: 768px) {
    .wrapper {
        padding-left: $user-width;
        &.toggled {
            padding-left: 0;
        }
    }
    #sidebar-wrapper {
        width: $user-width;
    }
    .wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        position: relative;
    }
    .wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
