
.modal {

    &.task-modal {

        .modal-content {
            background-color: $body-bg;
            width: 100%;
            max-width: 1200px;
            min-height: 200px;
            border-radius: 4px;
            margin: 40px auto;
            box-shadow: 0 5px 15px rgba(0,0,0,0.3);
            font-family: 'Maven Pro', 'Source Sans Pro', Calibri;
            color: $color-dark;

            .modal-close {
                padding-top: 10px;
                padding-right: 10px;
                height: 31px;
                margin-bottom: 5px;
                i {font-size: 18px}
                &:after {content: '';clear: both;}
            }

            .modal-body {
                padding: 0 20px;
                padding-bottom: 20px;

                h2 {
                    font-size: 20px;
                    margin: 0;
                    font-family: 'Maven Pro', 'Source Sans Pro', Calibri;
                    color: #468;
                    font-weight: 500;
                    margin-bottom: 10px;
                }

                h4 {
                    font-size: 18px;
                    color: #444;
                    font-weight: 600;
                }

                h3 {
                    font-size: 16px;
                    color: #666;
                    font-weight: 600;
                    font-family: 'Maven Pro', 'Source Sans Pro', Calibri;
                }


                .form-group {
                    margin: 0;
                    margin-bottom: 20px;

                    label {
                        font-family: 'Maven Pro', 'Source Sans Pro', Calibri;
                        font-weight: 400;
                        font-size: 16px;
                        color: $color-teal;
                    }
                }

                .form-control {
                    border: 2px solid #dbe7f2;
                    background-color: white;

                    &:focus {
                        border: 2px solid #acc0d3;
                    }
                }


                .numbers {
                    font-size: 14px;
                    color: #444;
                    margin-bottom: 30px;
                    font-weight: 500;
                    font-family:  'Source Sans Pro', Calibri;

                    li {line-height: 23px;font-size: 15px;}

                    i {margin-right: 5px}

                    .users > li {
                        padding: 5px 10px;
                        background-color: #fff;
                        border-radius: 3px;
                        margin-right: 5px;
                        margin-bottom: 5px;
                        font-weight: 500;

                        &.blue {
                            cursor: pointer;
                            background-color: transparent;
                            color: $color-blue-presumi;
                            font-weight: bold;
                        }

                        i {
                            cursor: pointer;
                        }
                    }
                }

                .paragraph {
                    color: #666;
                    font-size: 15px;
                    font-weight: 500;
                }


                // taux d'avancement
                .task-progress {
                    text-align: center;
                    margin-top:10px;

                    .progress-bar {
                        background-color: $color-teal;
                        width: 100%;
                        height: 4px;
                        color: $color-teal;
                        position: relative;
                        border-radius: 4px;

                        .current {
                            background-color: $color-greener;
                            position: absolute;
                            height: 4px;
                            left: 0;
                            margin-left: 0px;
                            border-radius: 4px;
                        }
                    }
                }

            }
        }


    }
}
