
.teams {
    padding-top: 60px;

    h4 {
        font-weight: 500;
        text-transform: capitalize;
        font-size: 22px;
        color: $color-purple-dark;
        font-family: 'Maven Pro', 'Source Sans Pro', Calibri;
    }


    .units {
        margin-top:20px;

        .unit {
            background-color: white;
            padding: 10px;
            font-size: 14px;
            margin-bottom: 10px;
            color: #666;

            .name {
                font-size: 16px;
                color: $color-blue-paypal;
                font-weight: bold;
                margin-bottom: 5px;

                i {cursor: pointer;}

                &.dropdown {
                    li {
                        a {
                            color: $color-dark;
                            padding: 6px 15px;
                            font-size: 14px;
                            color: #153e4d;
                            background-color: #f6f6f6;
                            font-weight: bold;

                            &:hover {
                                color: $color-blue-paypal;
                                background-color: white;
                            }
                        }

                    }
                }
            }

            .dropdown-menu {
                border: none;
                border-radius: 5px;
                margin-top: 10px;
                background-color: #f6f6f6;

                li {
                    padding: 0;

                    &:hover {
                        background-color: white;
                    }
                }
            }


            &.level-2 {
                margin-left: 40px;
                @media (max-width: 768px) {margin-left: 20px}
            }

            &.level-3 {
                margin-left: 80px;
                @media (max-width: 768px) {margin-left: 40px}
            }

            &.level-4 {
                margin-left: 120px;
                @media (max-width: 768px) {margin-left: 60px}
            }
        }
    }

}
